@charset "utf-8";

/*리셋코드*/
*{margin:0; padding: 0;}
li{list-style:none;}
img,iframe{vertical-align: top;}

:root{
    font-family: "Pretendard Variable";
    font-size: 14px; line-height: 1.6; color:#333;
}

.inner{max-width:1400px; margin:0 auto;}